/*
 * Sleek reset
 */

html, body, body div, header,
a, img, form {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
	background:#151515 url('../images/dark_wall.png') repeat;
	padding-top:48px;
}

header {
	background:inherit;
	height:48px;
	line-height:48px;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:1000;
}

#help {
	background:url('../images/help.png?3') no-repeat center center;
	height:173px;
	margin:0 auto;
	position:relative;
	top:0;
	width:838px;
	z-index:-1;
}

/*==============================================================================
 * Form and Inputs
 * ===========================================================================*/

.search-field {
	background-color:#E6E6E6;
	border:0;
	-webkit-border-radius:32px 32px 8px 32px;
	   -moz-border-radius:32px 32px 8px 32px;
	   		border-radius:32px 32px 8px 32px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	color:#555555;
	display:inline-block;
	height:32px;
	padding-left:10px;
	text-shadow:1px 1px #FFFFFF;
	vertical-align:middle;
}

.search-field:focus {
	outline:none;
}

#search-term {
	padding-right:32px;
	width:292px;
}

.loading {
	background:#E6E6E6 url('../images/ajax-loader.gif') no-repeat right center;
}

#search-limit {
	width:70px;
}

#search-type {
	width:70px;
}

#search-submit {
	width:50px;
}

/*==============================================================================
 * Thumbnails
 * ===========================================================================*/

.thumbnail {
	background-position:center center;
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
	height:100px;
	width:10%;
	z-index:0;
}

.info {
	background-color:transparent;
	background-color:rgba(0, 0, 0, 0.8);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
				zoom:1;
	color:#FFFFFF;
	display:none;
	font:normal 90% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height:90px;
	left:0;
	padding-top:10px;
	position:relative;
	text-align:center;
	text-decoration:none;
	top:0;
	width:100%;
	z-index:1;
}

.thumbnail:hover .info,
.thumbnail:focus .info {
	display:block;
}

/*==============================================================================
 * Footer
 * ===========================================================================*/

#author {
	bottom:5px;
	position:fixed;
	right:10px;
	z-index:-1;
}
